absl-py==1.0.0
argon2-cffi==20.1.0
asgiref==3.4.1
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
autopep8==1.6.0
backcall==0.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.10.0
bleach==3.3.0
cachetools==5.0.0
certifi==2021.10.8
cffi==1.14.5
charset-normalizer==2.0.8
click==8.0.4
colorama==0.4.4
comtypes==1.1.10
cycler==0.11.0
decorator==5.0.7
defusedxml==0.7.1
distlib==0.3.2
Django==3.2.7
django-crispy-forms==1.14.0
django-unused-media==0.2.2
docopt==0.6.2
entrypoints==0.3
filelock==3.0.12
Flask==2.0.3
flatbuffers==2.0
fonttools==4.29.1
gast==0.5.3
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.44.0
gunicorn==20.1.0
h5py==3.6.0
idna==3.3
importlib-metadata==4.11.2
ipykernel==5.5.5
ipython==7.23.1
ipython-genutils==0.2.0
itsdangerous==2.1.0
jedi==0.18.0
Jinja2==3.0.0
joblib==1.1.0
Js2Py==0.71
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
libclang==13.0.0
Markdown==3.3.6
MarkupSafe==2.0.0
matplotlib==3.5.1
matplotlib-inline==0.1.2
mistune==0.8.4
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.3.0
numpy==1.22.2
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==20.9
pandas==1.4.1
pandocfilters==1.4.3
parso==0.8.2
phonenumbers==8.12.39
pickleshare==0.7.5
Pillow==9.0.1
pipwin==0.5.1
platformdirs==2.3.0
plyer==2.0.0
prometheus-client==0.10.1
prompt-toolkit==3.0.18
whitenoise==6.2.0
pickle-mixin
